.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.page-content {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .side-menu {
    width: 100%;
    padding: 10px;
  }
}
